.card2-list {
  position: relative;
  width: 100%;
}

.card2 {
  cursor: pointer;
  position: absolute;
  height: 25vw;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  transition: width 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  z-index: 0;
  top: 0;
  left: 0;
}

.card2.card2-collapsed {
  width: 25vw;
}

.card2.card2-detached {
  width: 27vw;
  height: 27vw;
  top: -1vw;
  left: -1vw;
  box-shadow: 2px 2px 12px rgba(black, .2);
}

.card2.card2-expanded {
  left: 0;
  width: 100%;
  z-index: 11;
}
