.card2-row {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  width: 25vw;
  position: relative;
  height: 25vw;
}

.card2 {
  cursor: pointer;
  width: 25vw;
  height: 25vw;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  transition: width 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  z-index: 0;
  position: absolute;
}

.card2.card2-detached {
  position: absolute;
  width: 27vw;
  height: 27vw;
  margin-top: -1vw;
  margin-left: -1vw;
  box-shadow: 2px 2px 12px rgba(black, .2);
}

.card2.card2-expanded {
  width: 100vw;
  z-index: 11;
}

.card-container:nth-of-type(4n) .card2-expanded {
  margin-left: -75vw;
}

.card-container:nth-of-type(4n+1) .card2-expanded {
  margin-left: 0vw;
}

.card-container:nth-of-type(4n+2) .card2-expanded {
  margin-left: -25vw;
}

.card-container:nth-of-type(4n+3) .card2-expanded {
  margin-left: -50vw;
}
