---
layout: default
title:
---

<main role="main" class=""> <!-- main content starts here -->
  <div class="card-list">
    {% for i in site.data.projects %}
      <div class="card card--category">
        <div class="card__inner">
          <p>{{i.category_name}}</p>  
        </div>
      </div>
      
      {% for j in i.projects %}
      <div class="card js-card-trigger js-card-collapsed">
        <div class="card__inner">
          <p>{{j}}</p>
        </div>
      </div>
      {% endfor %}
    {% endfor %}
  </div>
</main>

